body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:orchid;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  section {
    margin: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  #skills-list {
    list-style: none;
    padding: 0;
  }
  
  .job {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }